<div class="container">
  <div class="row justify-content-center w-100 mt-5 py-5">
    <div class="col-md-9 p-4">
      <div class="d-flex flex-column align-items-start gap-2">
      <h1 class="tittle fw-bold">👋🏻Hola, soy David Cortes</h1>
      <br>
      <h2 class="fw-bold typewriter">{{ textoMostrado }}</h2>
      <span class="">Con experiencia en el desarrollo de aplicaciones web y sistemas dinámicos. Me especializo en la integración de APIs, optimización de interfaces y automatización de procesos para mejorar la experiencia del usuario y la funcionalidad del software, enfocándome en soluciones eficientes y escalables.</span>
      <div class="row w-100 d-flex flex-wrap">
        <div class="col-auto mb-2" *ngFor="let skill of skills; let i = index">
          <div class="card skill-card p-2 d-flex align-items-center">
            <div class="d-flex align-items-center gap-1">
              <span class="d-flex align-items-center justify-content-center">
                <div [innerHTML]="skill.icon"></div>
              </span>
              <h6 class="mb-0 small d-flex align-items-center">{{ skill.name }}</h6>
            </div>
          </div>
        </div>
      </div>
      
      <div>
        <a href="https://www.linkedin.com/in/davidcortesvillamizar/" target="_blank" class="btn btn-linkedin">
          <i class="fa-brands fa-linkedin-in"></i>
        </a>
        <button class="btn btn-gmail" (click)="abrirCorreo()">
          <svg class="svg-default" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="22" height="29" viewBox="0 0 50 50"
            style="fill:#1A1A1A;">
            <path
              d="M12 23.403V23.39 10.389L11.88 10.3h-.01L9.14 8.28C7.47 7.04 5.09 7.1 3.61 8.56 2.62 9.54 2 10.9 2 12.41v3.602L12 23.403zM38 23.39v.013l10-7.391V12.41c0-1.49-.6-2.85-1.58-3.83-1.46-1.457-3.765-1.628-5.424-.403L38.12 10.3 38 10.389V23.39zM14 24.868l10.406 7.692c.353.261.836.261 1.189 0L36 24.868V11.867L25 20l-11-8.133V24.868zM38 25.889V41c0 .552.448 1 1 1h6.5c1.381 0 2.5-1.119 2.5-2.5V18.497L38 25.889zM12 25.889L2 18.497V39.5C2 40.881 3.119 42 4.5 42H11c.552 0 1-.448 1-1V25.889z">
            </path>
          </svg>

          <svg class="svg-hover" xmlns="http://www.w3.org/2000/svg" width="22" height="29" viewBox="0 0 48 48">
            <path fill="#4caf50" d="M45,16.2l-5,2.75l-5,4.75L35,40h7c1.657,0,3-1.343,3-3V16.2z"></path>
            <path fill="#1e88e5" d="M3,16.2l3.614,1.71L13,23.7V40H6c-1.657,0-3-1.343-3-3V16.2z"></path>
            <polygon fill="#e53935" points="35,11.2 24,19.45 13,11.2 12,17 13,23.7 24,31.95 35,23.7 36,17"></polygon>
            <path fill="#c62828"
              d="M3,12.298V16.2l10,7.5V11.2L9.876,8.859C9.132,8.301,8.228,8,7.298,8h0C4.924,8,3,9.924,3,12.298z"></path>
            <path fill="#fbc02d"
              d="M45,12.298V16.2l-10,7.5V11.2l3.124-2.341C38.868,8.301,39.772,8,40.702,8h0 C43.076,8,45,9.924,45,12.298z">
            </path>
          </svg>
        </button>
      </div>
    </div>
      <!-- <div class="d-flex flex-column align-items-start gap-2"> -->

    </div>
    <div class="col-md-3 text-white p-4">
      <img src="assets/images/developergif.gif" alt="Desarrollador Full Stack" width="400">
    </div>
  </div>
</div>